@page "/"

@using BlazorApp1.Data;
@using BlazorApp1.Models;
@inject ApplicationDbContext db
@inject NavigationManager NavigationManager

<AuthorizeView>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="RunOnClick">
            SimpleButton
        </button>
    </NotAuthorized>
    <Authorized>
        <h1>Current Feed</h1>
        @if (context.User.IsInRole("freelancer"))
        {

            @foreach (var job in Jobs)
            {
                <div class="container">
                    <h2>job.Title</h2>
                    <strong>
                        job.Descrition
                    </strong>
                </div>
            }

        }

    </Authorized>
</AuthorizeView>



@code
{
    private void RunOnClick()
    {
        NavigationManager.NavigateTo("Identity/Account/Register", true);
    }
    private List<Job> Jobs;

    protected override void OnInitialized()
    {
        Jobs = db.Jobs.ToList();
    }
}
