@page "/"

@using BlazorApp1.Data;
@using BlazorApp1.Models;
@inject ApplicationDbContext db
@inject NavigationManager NavigationManager

<AuthorizeView Roles="admin">
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="RunOnClick">
            SimpleButton
        </button>
    </NotAuthorized>
    <Authorized>
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in Jobs)
                {
                    <tr>
                        <td>@job.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
</AuthorizeView>



@code
{
    private void RunOnClick()
    {
        NavigationManager.NavigateTo("Identity/Account/Register", true);
    }
    private List<Job> Jobs;

    protected override async Task OnInitializedAsync()
    {
        Jobs = db.Jobs.ToList();
    }
}
