@inherits LayoutComponentBase

@using BlazorApp1.Models
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager





    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/">BlazorApp1</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div>
                        <LoginDisplay />
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
