<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Profile" style="color:midnightblue"><img src="user.png"/></a>
        <a href="Identity/Account/LogOut" style="color:midnightblue"><img src="logout.png" /></a>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" style="color:midnightblue">Register</a>
        <a href="Identity/Account/Login" style="color:midnightblue">Login</a>
    </NotAuthorized>
</AuthorizeView>
