<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Profile">My Profile</a>
        <a href="Identity/Account/LogOut">Log out</a>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
