<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Profile" style="color:midnightblue">My Profile</a>
        <a href="Identity/Account/LogOut" style="color:midnightblue">Log out</a>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" style="color:midnightblue">Register</a>
        <a href="Identity/Account/Login" style="color:midnightblue">Login</a>
    </NotAuthorized>
</AuthorizeView>
