@inherits LayoutComponentBase

    <div class="sidebar">
        <NavMenu />
    </div>

<div class="main">
    <div class="top-row px-4 identity" style="background-color:mediumpurple">
        <LoginDisplay />
        <a href="https://dev.by" target="_blank" style="color:midnightblue">About</a>
    </div>

    <div class="content px-4" style="background-image:url(phone.jpg);width:1280;height:550px;overflow:scroll;overflow-x:hidden;">
        @Body
    </div>
</div>

@code {

}